{% extends 'base.html' %}

{% block title %}
ایجاد کاربر
{% endblock %}

{% block content %}

<div class="max-w-3xl mx-auto">

    <h1 class="text-2xl font-bold text-gray-800 mb-6">
        ایجاد کاربر جدید
    </h1>

    <div class="bg-white rounded-2xl border border-gray-200 p-6">

        <form method="post">

            {% csrf_token %}

            <div class="mb-4">
                <label class="block mb-2">نام کاربری</label>
                <input
                    type="text"
                    name="username"
                    required
                    class="w-full border rounded-xl px-4 py-3"
                >
            </div>

            <div class="mb-4">
                <label class="block mb-2">نام</label>
                <input
                    type="text"
                    name="first_name"
                    class="w-full border rounded-xl px-4 py-3"
                >
            </div>

            <div class="mb-4">
                <label class="block mb-2">نام خانوادگی</label>
                <input
                    type="text"
                    name="last_name"
                    class="w-full border rounded-xl px-4 py-3"
                >
            </div>

            <div class="mb-4">
                <label class="block mb-2">ایمیل</label>
                <input
                    type="email"
                    name="email"
                    class="w-full border rounded-xl px-4 py-3"
                >
            </div>

            <div class="mb-6">
                <label class="block mb-2">رمز عبور</label>
                <input
                    type="password"
                    name="password"
                    required
                    class="w-full border rounded-xl px-4 py-3"
                >
            </div>

            <button
                type="submit"
                class="bg-blue-600 text-white px-6 py-3 rounded-xl"
            >
                ایجاد کاربر
            </button>

        </form>

    </div>

</div>

{% endblock %}
