{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto mt-16 bg-white border rounded-2xl shadow-lg p-8">

    <h2 class="text-2xl font-bold text-center mb-6">
        🔐 ورود به سامانه
    </h2>

    <form method="post">

        {% csrf_token %}

        <div class="mb-5">
            <label class="block font-medium mb-2">
                نام کاربری
            </label>

            <input
                type="text"
                name="username"
                required
                autofocus
                class="w-full border rounded-lg px-4 py-3"
                placeholder="نام کاربری خود را وارد کنید"
            >
        </div>

        <div class="mb-6">
            <label class="block font-medium mb-2">
                رمز عبور
            </label>

            <input
                type="password"
                name="password"
                required
                class="w-full border rounded-lg px-4 py-3"
                placeholder="رمز عبور خود را وارد کنید"
            >
        </div>

        {% if form.errors %}
            <div class="bg-red-100 text-red-700 rounded-lg p-3 mb-5 text-sm">
                نام کاربری یا رمز عبور اشتباه است.
            </div>
        {% endif %}

        <button
            type="submit"
            class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition">
            ورود
        </button>

    </form>

</div>

{% endblock %}